*{
    margin: 0;
    padding: 0;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
nav{
    max-width: 1600px;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
}
nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 32px;
   
}
nav .menu a{
     color: black;
    text-decoration: none;
    
    
}
nav .logo{
   max-width: 139px ;
   margin: 16px 120px 0;
   
}
.btn{
    width: 164px;
    height: 44px;
    padding: 12.5px 16px;
    border: none;
    font-size: 16px;
    background-color: #30B868;
    color: #FFFFFF;
    margin: 24px 100px 0;
    cursor: pointer;
}

.color-font{
        color: #30B868;
}

/* banner section */

.banner {
    background: url(../assets/hero-bg.png); 
    max-height: 674px;
    max-width: 1600px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    text-align: center;
} 

.banner-container{
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding:115px;
  
}

.banner-container h1{
    font-size:72px; 
}

.banner-container p{
  
    line-height: 24px;
    margin-top: 16px;
    font-size: 18px;
   

}

.btn1{
    background-color: #30B868;
    border:none;
    width: 251px;
    height: 52px;
    color:white;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 16px;
    cursor: pointer;
      margin-bottom: 40px;
}

.btn2{
    background: none;
    border: 1px solid white;
    width: 198px;
    height:52px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
     
}

.btn-banner{
    background: #FFFFFF;
    border: none;
    color: #30B868;
    border-radius:1000px ;
    width:229px ;
    height: 40px;
    font-size: 16px;
    padding:12px 8px;
    margin-bottom: 16px;
    cursor: pointer;
}   

/* card section */
.section-heading{
    text-align: center;
    margin-top: 40px;
}
.section-heading h2{
    font-size: 48px;

}
.section-heading h5{
    color: #627382;
    margin-top: 16px;
}


.cards{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.card-container .card-box{
    display: flex;
    gap: 24px;
    padding: 44px 120px 49px;
   
}
.card-box .card{
    
    margin-top: 16px;
    max-width: 322px;
    max-height:300px;
    padding: 24px;
    text-align: center;
    box-shadow:0.5px 0.5px 0.5px #627382;
    
  
}
.card img{
    background-color: #F95555;
    padding: 10px;
    border-radius: 100%;
    margin-top:50px ;
    margin-bottom: 16px;
    
}
.card h3{
    margin-bottom: 16px;
    font-size: 24px;

}
.card p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 60px;
}

/* brain part */
.brain {
    width: 100%;
    max-width: 1360px; 
    margin: 0 auto;

}
.brain-container{
    display: flex;
    gap:60px;
   padding: 120px ;
}
.brain-image{
    max-width: 600px;
    max-height: 600px;
}
.brain-card {
    max-width: 700px;
    max-height: 397px;
    

}
.brain-card h4{
    margin-top: 101.5px;
    margin-bottom: 16px;
    color: #30B868;
}
.brain-card h1{
     margin-bottom: 16px;
     font-size: 48px;
}
.brain-card p{
    line-height: 20px;
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;

}  
.brain-card img{
   max-width:  20px;
   max-height: 20px;
   margin-right: 6px;    
}
.brain-card .item{
    display: flex;
    margin-bottom:16px ;
}